<?xml version="1.0"?>

<launch>
  <!-- Robot suffixes. -->
  <arg name="robot1" default="HY1" />
  <arg name="robot2" default="HY2" />

  <!-- Record? -->
  <arg name="record" default="false" />

  <!-- Probabilistic planning params. -->
  <arg name="prob_thresh" default="0.1" />
  <arg name="collision_check_resolution" default="0.33" />
  <arg name="grid_resolution" default="0.33" />

  <!-- Record a rosbag. -->
  <node pkg="rosbag"
	      type="record"
	      name="recorder"
	      args="-a -o $(fastpeople)/bagfiles/sw_demo_recording.bag"
	      if="$(arg record)">
  </node>

  <!-- ========================== Robot 1. ========================== -->
  <include file="$(find fastpeople)/launch/software_crazyflie_launcher.launch">
    <arg name="suffix" value="$(arg robot1)" />
    <arg name="prob_thresh" value="$(arg prob_thresh)" />
    <arg name="collision_check_resolution" value="$(arg collision_check_resolution)" />
    <arg name="grid_resolution" value="$(arg grid_resolution)" />
    <arg name="other_traj_topics" value="[]" />
    <arg name="other_bound_srvs" value="[]" />
  </include>

  <!-- ========================== Robot 2. ========================== -->
  <include file="$(find fastpeople)/launch/software_crazyflie_launcher.launch">
    <arg name="suffix" value="$(arg robot2)" />
    <arg name="prob_thresh" value="$(arg prob_thresh)" />
    <arg name="collision_check_resolution" value="$(arg collision_check_resolution)" />
    <arg name="grid_resolution" value="$(arg grid_resolution)" />
    <arg name="other_traj_topics" value="[/traj$(arg robot1)]" />
    <arg name="other_bound_srvs" value="[/bound$(arg robot1)]" />
  </include>
</launch>
